h2 {
    align-self: flex-start;
    margin-bottom: 2rem;
    color: rgb(21, 68, 96);
    font-weight: 700;
    font-size: 2rem;
}
.flex-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.flex-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    gap: 4em;
    align-items: center;
}
h3 {
    color: rgb(21, 68, 96);
    font-size: 1.5rem;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
}
.flex-container img{
    width: 100%;
}

@media (max-width: 1024px) {
    .flex-container {
        flex-direction: column;
        align-items: start;
        gap: 2em;
    }
    .flex-container img{
        width: 60%;
    }
}
@media (max-width: 576px) {
    .flex-container img {
        width: 100%;
    }
    p {
        font-size: 1em;
    }
}